<nav class=" flex flex-col justify-start items-start  w-full  bg-white px-5">
    <div class="p-11 w-full  flex flex-col justify-start items-start border-black border-2 rounded-md shadow-[8px_8px_0px_rgba(0,0,0,1)] bg-[#4da895] mb-5">
        <ul>
            <li><a routerLink="/call-form" routerLinkActive="active" ariaCurrentWhenActive="page">Cadastrar Chamada</a></li>
            <li><a routerLink="/call-list" routerLinkActive="active" ariaCurrentWhenActive="page">Chamada</a></li>
          </ul>
    </div>
</nav>



