
<app-header></app-header>
<nav class=" flex flex-col justify-start items-start  w-full  px-5">
    <div class=" bg-gray-50  flex flex-row justify-start items-start">
        <ul class=" bg-gray-50 w-full  flex flex-row justify-start items-start gap-5">
            <li class="bg-gray-50 p-2  flex flex-row justify-start items-start border-black border-2 rounded-md shadow-[4px_4px_0px_rgba(0,0,0,1)]  mb-5"><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Cadastro</a></li>
            <li class="bg-gray-50 p-2  flex flex-row justify-start items-start border-black border-2 rounded-md shadow-[4px_4px_0px_rgba(0,0,0,1)]  mb-5"><a routerLink="/call-list" routerLinkActive="active" ariaCurrentWhenActive="page">Chamada</a></li>
          </ul>
    </div>
</nav>




<!-- <app-navbar></app-navbar> -->
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>