<main class="border-b-2 border-black flex flex-col justify-start items-start  h-full w-full  bg-white px-5">
        <form [formGroup]="formGroup" class="p-11 w-full  flex flex-col justify-start items-start border-black border-2 rounded-md shadow-[8px_8px_0px_rgba(0,0,0,1)] bg-[#4da895] mb-5" action="">
            <label class="font-mono text-sm text-green-50" for="name">Professor </label>
            <input class="rounded w-[100%]" id="name" type="text" formControlName="name">
            <label class="font-mono text-sm text-green-50 mt-5" for="name">Matéria</label>
            <input class="rounded w-[100%]" id="name" type="text" formControlName="name">
            <label class="font-mono text-sm text-green-50 mt-5" for="name">Data</label>
            <input class="rounded w-[100%]" id="name" type="text" formControlName="name">
            <label class="font-mono text-sm text-green-50 mt-5" for="name">Turma</label>
            <input class="rounded w-[100%]" id="name" type="text" formControlName="name">
        </form>
        <button class="border border-black text-green-900 rounded-md shadow-[4px_4px_0px_rgba(0,0,0,1)] font-mono p-1.5 text-sm bg-gray-50">Iniciar Chamada</button>
</main>
